.taskbtn{

  background-color: antiquewhite;
 
 




}

.showtask{
  display: inline;
}
.displaytaskbtn{
  display: block;

}

div button{
  margin: 10px;
}

.header {
  border: solid  rgb(160, 197, 26) 2px;
}

.AddTask-form{
  border: solid  rgb(158, 21, 117) 2px;
}

.displayTask{
  border: solid  rgb(37, 163, 26) 2px;

}

.App{
  border: solid  rgb(206, 104, 104) 2px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  
  

}

div{
  margin: 10px;
}

.header-addtask{
  margin-left: 80%;
  margin-top:0.001em ;
 
}
